<?php

// {{ ansible_managed }}

$aliases['cur'] = array(
  'root' => '{{ deploy_webroot }}/{{ app_name }}/public_html',
  'path-aliases' => array(
    '%dump-dir' => '/home/{{ app_user }}/.drush/dbdumps',
    '%ard-dir' => '/home/{{ app_user }}/drush-backups/archive-dump/logrotate/',
    '%files' => '{{ deploy_webroot }}/{{ app_name }}/public_html/sites/default/files',
    '%modules' => '{{ deploy_webroot }}/{{ app_name }}/public_html/sites/all/modules',
    '%themes' => '{{ deploy_webroot }}/{{ app_name }}/public_html/sites/all/themes',
  ),
);

$aliases['bld'] = array(
  'root' => '{{ deploy_webroot }}/{{ app_name }}/public_html.build',
  'path-aliases' => array(
    '%dump-dir' => '/home/{{ app_user }}/.drush/dbdumps',
    '%ard-dir' => '/home/{{ app_user }}/drush-backups/archive-dump/logrotate/',
    '%files' => '{{ deploy_webroot }}/{{ app_name }}/public_html.build/sites/default/files',
    '%modules' => '{{ deploy_webroot }}/{{ app_name }}/public_html.build/sites/all/modules',
    '%themes' => '{{ deploy_webroot }}/{{ app_name }}/public_html.build/sites/all/themes',
  ),
);

{% if (deploy_db_sync_enabled|default(False)|bool or deploy_files_sync_enabled|default(False)|bool) %}
$aliases['src'] = array(
  'remote-host' => "{{ deploy_upstream_remote_host }}",
  'remote-user' => "{{ deploy_upstream_remote_user }}",
  'root' => "{{ deploy_upstream_docroot }}",
  'path-aliases' => array(
    '%files' => "{{ deploy_upstream_docroot }}/{{ deploy_upstream_files_path|default('sites/default/files') }}",
  ),
  {% if deploy_upstream_proxy_credentials|default("") != '' %}
    {% if deploy_upstream_proxy_port|default("") != '' %}
  'ssh-options' => '-o "ProxyCommand ssh -p {{ deploy_upstream_proxy_port }} {{ deploy_upstream_proxy_credentials }} nc %h %p"',
    {% else %}
  'ssh-options' => '-o "ProxyCommand ssh {{ deploy_upstream_proxy_credentials }} nc %h %p"',
    {% endif  %}
  {% endif  %}
  {% if deploy_upstream_ssh_options|default("") != '' %}
    {% if deploy_upstream_remote_port|default("") != '' %}
  'ssh-options' => '-p {{ deploy_upstream_remote_port }} {{deploy_upstream_ssh_options }}',
    {% else %}
  'ssh-options' => '{{ deploy_upstream_ssh_options }}',
    {% endif  %}
  {% endif  %}
);
{% endif  %}
