{{ webroot }}/{{ app['website']['host'] }}/logs/{{ app['log'] }} {
    compress
    dateext
    maxage 365
    rotate 99
    size=+4096k
    notifempty
    missingok
    create 664 {{ app['website']['user'] }} {{ app['website']['group'] }}
    endscript
}
