{{ webroot }}/{{ webhost }}/logs/{{ app['log'] }} {
    compress
    dateext
    maxage 365
    rotate 99
    size=+4096k
    notifempty
    missingok
    create 664 {{ app['user'] }} {{ app['group'] }}
    endscript
}
