/home/{{ app['user'] }}/drush-backups/archive-dump/logrotate/{{ webhost }}-ard.tar.gz {
  daily
  dateext
  rotate 41
  nocompress
  create 640 asm www-data
  missingok
  postrotate
    drush @{{ webhost }}.cur archive-dump --tar-options="--exclude=.git" --description="Respaldo de {{ webhost }} conteniendo codebase, ficheros y BBDD." --destination=/home/{{ app['user'] }}/drush-backups/archive-dump/logrotate/{{ webhost }}-ard.tar.gz --overwrite
  endscript
}
