/home/{{ app_env['user'] }}/drush-backups/archive-dump/logrotate/{{ app_name }}-ard.tar.gz {
  daily
  rotate 7
  nocompress
  missingok
  postrotate
    su {{ app_env['user'] }} -c 'drush @{{ app_name }}.cur archive-dump --tar-options="--exclude=.git" --description="Backup of {{ app_name }} containing codebase, files and db." --destination=/home/{{ app_env['user'] }}/drush-backups/archive-dump/logrotate/{{ app_name }}-ard.tar.gz --overwrite'
  endscript
}
