{{ deploy_webroot }}/{{ app_name }}/logs/drupal.log {
  rotate {{ deploy_rotate_drupal_qty|default('12') }}
  {{ deploy_rotate_drupal_freq|default('weekly') }}
  missingok
  notifempty
  compress
  delaycompress
  su {{ app_user }} {{ app_group }}
}
