<?php

// {{ ansible_managed }}

/* Memcache Storage */

$settings['cache_backends'][] = 'sites/all/modules/memcache_storage/memcache_storage.inc';
$settings['cache_default_class'] = 'MemcacheStorage';

$settings['cache_class_cache_form'] = 'DrupalDatabaseCache';
$settings['cache_class_cache_update'] = 'DrupalDatabaseCache';

$settings['lock_inc'] = 'sites/all/modules/memcache_storage/includes/lock.inc';
$settings['memcache_extension'] = 'Memcached';

$settings['memcache_storage_persistent_connection'] = TRUE;

$settings['memcache_options'] = array(
  Memcached::OPT_COMPRESSION => FALSE,
  Memcached::OPT_DISTRIBUTION => Memcached::DISTRIBUTION_CONSISTENT,
  Memcached::OPT_TCP_NODELAY => TRUE,
  Memcached::OPT_BINARY_PROTOCOL => TRUE
);

$settings['memcache_storage_key_prefix'] = '{{ app_name }}';
