<?php

// {{ ansible_managed }}

/* Memcache Storage */

$settings['cache']['default'] = 'cache.backend.memcache_storage';
$settings['memcache_storage']['memcache_extension'] = 'Memcached';

$settings['memcache_storage']['persistent_connection'] = TRUE;

$settings['memcache_storage']['memcached_options'] = array(
  Memcached::OPT_COMPRESSION => FALSE,
  Memcached::OPT_DISTRIBUTION => Memcached::DISTRIBUTION_CONSISTENT,
  Memcached::OPT_TCP_NODELAY => TRUE,
  Memcached::OPT_BINARY_PROTOCOL => TRUE
);

$settings['memcache_storage']['key_prefix'] = '{{ app_name }}';
$settings['memcache_storage']['memcached_servers'] = [
  '{{ deploy_memcached_listen_ip_address }}:{{ deploy_memcached_port }}' => 'default'
];
