<?php

// {{ ansible_managed }}

/* HTTPS settings */

$conf['drupal_http_request_fails'] = FALSE;
$conf['securepages_ignore'] = 'sites/default/files/advagg_css/*' . PHP_EOL . 'sites/default/files/advagg_js/*';

