<?php

/* Memcache Storage */
// {{ ansible_managed }}

$conf['cache_backends'][] = 'sites/all/modules/memcache_storage/memcache_storage.inc';
$conf['cache_default_class'] = 'MemcacheStorage';

$conf['cache_class_cache_form'] = 'DrupalDatabaseCache';
$conf['cache_class_cache_update'] = 'DrupalDatabaseCache';

$conf['lock_inc'] = 'sites/all/modules/memcache_storage/includes/lock.inc';
$conf['memcache_extension'] = 'Memcached';

$conf['memcache_storage_persistent_connection'] = TRUE;

$conf['memcache_options'] = array(
  Memcached::OPT_COMPRESSION => FALSE,
  Memcached::OPT_DISTRIBUTION => Memcached::DISTRIBUTION_CONSISTENT,
  Memcached::OPT_TCP_NODELAY => TRUE,
  Memcached::OPT_BINARY_PROTOCOL => TRUE
);

$conf['memcache_storage_key_prefix'] = '{{ app_name }}';
